<!-- Modal -->


<div class="modal fade" data-backdrop="static" id="addSmeModal" tabindex="-1" role="dialog" aria-labelledby="addSmeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="addSmeModalLabel">CREATE SME</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="toastContainer" aria-live="polite" aria-atomic="true" style="position: fixed; top: 1rem; right: 1rem; z-index: 1050;"></div>
                <div class="alert alert-danger alert-dismissible fade show" role="alert" id="error-alert" style="display: none;">
                    <strong>Error!</strong> <span id="error-message"></span>
                    <button type="button" class="btn-close" data-dismiss="alert" aria-label="Close"></button>
                </div>
                <form id="addSMEForm" autocomplete="off" style="font-size:15px">            
                    <!-- Business Information Section -->
                    <div class="section-header bg-gradient text-white py-1 px-2 rounded mb-3">
                        <h5><i class="fas fa-industry"></i> Business Information</h5>
                    </div>
    
                    <!-- First Row: Company, Registration Status, Form of Business, Sector -->
                    <div class="row g-5 mb-4"> <!-- Added margin-bottom to create space between first and second rows -->
                        <div class="col-md-6">
                            <label for="company" class="mb-1">Company</label>
                            <div class="input-group">
                                <span class="input-group-text bg-gradient text-white"><i class="fas fa-building"></i></span>
                                <input type="text" class="form-control" id="company" name="company" placeholder="Enter Company Name" required style="background-color: #f8f9fa;">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label for="registration" class="mb-1">Registration Status</label>
                            <div class="input-group">
                                <span class="input-group-text bg-gradient text-white"><i class="fas fa-clipboard-check"></i></span>
                                <select class="form-control select2" id="registration" name="registration" required style="background-color: #f8f9fa;">
                                    <option selected="selected" disabled="disabled">Select</option>
                                    <option value="Registered">Registered</option>
                                    <option value="Not-Registered">Not-Registered</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label for="type_of_business" class="mb-1">Form of Business</label>
                            <div class="input-group">
                                <span class="input-group-text bg-gradient text-white"><i class="fas fa-building"></i></span>
                                <select class="form-control select2" id="type_of_business" name="type_of_business" required style="background-color: #f8f9fa;">
                                    <option selected="selected" disabled="disabled">Select Form of Business</option>
                                    <option value="Private Limited">Private Limited</option>
                                    <option value="Private Business Cooperation">Private Business Cooperation</option>
                                    <option value="Cooperative">Cooperative</option>
                                    <option value="Partnership">Partnership</option>
                                    <option value="Syndicate">Syndicate</option>
                                    <option value="Consortium">Consortium</option>
                                    <option value="Not Applicable">Not Applicable</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label for="sector" class="mb-1">Sector</label>
                            <div class="input-group">
                                <span class="input-group-text bg-gradient text-white"><i class="fas fa-sitemap"></i></span>
                                <select class="form-control select2" id="sector" name="sector" required style="background-color: #f8f9fa;">
                                    <option selected="selected" disabled="disabled">Select Sector</option>
                                </select>
                            </div>
                        </div>
                    </div>
    
                    <!-- Last Row: Product or Service, Number of Employees, Exports -->
                    <div class="row g-5 mb-4" style="margin-top: 20px;"> <!-- Added margin-top for extra space -->
                        <div class="col-md-4">
                            <label for="product_service" class="mb-1">Product or Service</label>
                            <div class="input-group">
                                <span class="input-group-text bg-gradient text-white"><i class="fas fa-cogs"></i></span>
                                <input type="text" class="form-control" id="product_service" name="product_service" placeholder="Enter Product or Service" required style="background-color: #f8f9fa;">
                            </div>
                        </div>
                        
                        <div class="col-md-4">
                            <label for="number_of_employees" class="mb-1">Number of Employees</label>
                            <div class="input-group">
                                <span class="input-group-text bg-gradient text-white"><i class="fas fa-users"></i></span>
                                <input type="number" class="form-control" id="number_of_employees" name="number_of_employees" placeholder="Enter Number of Employees" required style="background-color: #f8f9fa;">
                            </div>
                        </div>
    
                        <div class="col-md-4">
                            <label for="export" class="mb-1">Exports</label>
                            <div class="input-group">
                                <span class="input-group-text bg-gradient text-white"><i class="fas fa-ship"></i></span>
                                <select class="form-control select2" id="export" name="export" required style="background-color: #f8f9fa;">
                                    <option selected="selected" disabled="disabled">Select</option>
                                    <option value="Exporter">Exporter</option>
                                    <option value="Non-Exporter">Non-Exporter</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <!-- Business Contact Information Section --> 
                    <div class="section-header bg-info text-white py-1 px-2 rounded mb-3">
                        <h5><i class="fas fa-user"></i> Business Contact Information</h5>
                    </div>
    
                    <!-- First Row: Contact Person, Physical Address -->
                    <div class="row g-3 mb-4">
                        <div class="col-md-6">
                            <label for="contact_person"><i class="fas fa-user-circle text-info"></i> Contact Person</label>
                            <input type="text" class="form-control" id="contact_person" name="contact_person" placeholder="Enter Contact Person Name" required>
                        </div>
                        <div class="col-md-6">
                            <label for="address"><i class="fas fa-map-marker-alt text-info"></i> Physical Address</label>
                            <input type="text" class="form-control" id="address" name="address" placeholder="Enter Physical Address" required>
                        </div>
                    </div>
    
                    <!-- Second Row: Age, Sex, Disability -->
                    <div class="row g-3 mb-4">
                        <div class="col-md-4">
                            <label for="age"><i class="fas fa-calendar-alt text-info"></i> Age</label>
                            <select class="form-control select2" id="age" name="age">
                                <option selected="selected" disabled="disabled">Select Age Group</option>
                                <option value="18-24">18 to 24</option>
                                <option value="25-34">25 to 34</option>
                                <option value="35-44">35 to 44</option>
                                <option value="45-54">45 to 54</option>
                                <option value="55-64">55 to 64</option>
                                <option value="65+">65 or over</option>
                            </select>
                        </div>
                        <div class="col-md-4">
                            <label for="sex"><i class="fas fa-venus-mars text-info"></i> Sex</label>
                            <select class="form-control select2" id="sex" name="sex">
                                <option selected="selected" disabled="disabled">Select Sex</option>
                                <option value="Male">Male</option>
                                <option value="Female">Female</option>
                            </select> 
                        </div>
                        <div class="col-md-4">
                            <label for="disability"><i class="fas fa-wheelchair text-info"></i> Disability</label>
                            <select class="form-control select2" id="disability" name="disability">
                                <option selected="selected" disabled="disabled">Select</option>
                                <option value="Disabled">Disabled</option>
                                <option value="Not-Disabled">Not-Disabled</option>
                            </select>
                        </div>
                    </div>
    
                    <!-- Third Row: Phone Number, Email, Education Level -->
                    <div class="row g-3 mb-4">
                        <div class="col-md-4">
                            <label for="phone_number"><i class="fas fa-phone-alt text-info"></i> Phone Number</label>
                            <input type="text" class="form-control" id="phone_number" name="phone_number" placeholder="Enter Phone Number" required>
                        </div>
                        <div class="col-md-4">
                            <label for="email"><i class="fas fa-envelope text-info"></i> Email</label>
                            <input type="email" class="form-control" id="email" name="email" placeholder="Enter Email Address" required>
                        </div>
                        <div class="col-md-4">
                            <label for="education"><i class="fas fa-graduation-cap text-info"></i> Education Level</label>
                            <select class="form-control select2" id="education" name="education">
                                <option selected="selected" disabled="disabled">Select Education Level</option>
                                <option value="Primary">Primary</option>
                                <option value="O Level">O Level</option>
                                <option value="A Level">A Level</option>
                                <option value="Tertiary">Tertiary</option>
                                <option value="None">None</option>
                            </select>
                        </div>
                    </div>
    
                    <!-- Business Support Services Section -->
                    <div class="section-header bg-success text-white py-1 px-2 rounded mb-3">
                        <h5><i class="fas fa-cogs"></i> Business Support Services</h5>
                    </div>
                    <div class="row g-3">
                        <!-- Training Field -->
                        <div class="col-md-6">
                            <label for="training">
                                <i class="fas fa-chalkboard-teacher text-success"></i> Training
                            </label>
                            <select class="form-control select2" id="training" name="training">
                                <option selected="selected" disabled="disabled">Select Training</option>
                                <option value="Trained">Trained</option>
                                <option value="Not-Trained">Not-Trained</option>
                            </select>
                        </div>
                        
                        <!-- Annual Revenue Field -->
                        <div class="col-md-6">
                            <label for="annual_revenue">
                                <i class="fas fa-chart-line text-success"></i> Training received
                            </label>
                            <input type="text" class="form-control" id="training_recieved" name="training_recieved" placeholder="Enter training received" required>
                        </div>
                    </div>
    
    
                    <!-- Compliance Section -->
                    <div class="section-header bg-info text-white py-1 px-2 rounded mb-3">
                        <h5><i class="fas fa-shield-alt"></i> Compliance</h5>
                    </div>
                    <div class="row g-3">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="compliance"><i class="fas fa-clipboard-check text-primary"></i> Compliance</label>
                                <input type="text" class="form-control bg-light" id="compliance" name="compliance" placeholder="Enter Compliance (e.g., ZIMRA, NSSA, EMA)" required>
                            </div>
                        </div>
    
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="tax"><i class="fas fa-calculator text-primary"></i> Tax</label>
                                <input type="text" class="form-control bg-light" id="tax" name="tax" placeholder="Enter Tax Type (e.g., Income Tax, PAYE, VAT)" required> 
                            </div>
                        </div>
                    </div>
    
                                    <!-- Financial Information Section -->
                    <div class="section-header bg-warning text-white py-1 px-2 rounded mb-3">
                        <h5><i class="fas fa-wallet"></i> Financial Information</h5>
                    </div>
    
                    <div class="row g-3">
                        <!-- Source of Funds -->
                        <div class="col-md-4">
                            <label for="source_of_funds">
                                <i class="fas fa-money-bill-alt text-warning"></i> Source of Funds
                            </label>
                            <select class="form-control select2" id="source_of_funds" name="source_of_funds">
                                <option selected="selected" disabled="disabled">Select Source of Funds</option>
                                <option value="Business grants">Business grants</option>
                                <option value="Venture capital">Venture capital</option>
                                <option value="Angel investors">Angel investors</option>
                                <option value="Friends and Family">Friends and Family</option>
                                <option value="Term loan">Term-loan</option>
                                <option value="Government loan">Government-loan</option>
                            </select>
                        </div>
    
                            <!-- Annual Turnover -->
                            <div class="col-md-4">
                                <label for="annual_revenue">
                                    <i class="fas fa-dollar-sign text-warning"></i> Annual Turnover (USD - $)
                                </label>
                                <input type="number" class="form-control" id="annual_revenue" name="annual_revenue" placeholder="Enter Annual Turnover" required>
                            </div>
    
                            <!-- Assets Value -->
                            <div class="col-md-4">
                                <label for="asset_value">
                                    <i class="fas fa-warehouse text-warning"></i> Assets Value (USD - $)
                                </label>
                                <input type="number" class="form-control" id="asset_value" name="asset_value" placeholder="Enter Assets Value" required>
                            </div>
                        </div>
                        <!-- Challenges Section -->
                        <div class="section-header bg-danger text-white py-1 px-2 rounded mb-3">
                            <h5><i class="fas fa-exclamation-circle"></i> Challenges</h5>
                        </div>
                        <div class="row g-3">
                            <div class="col-md-12">
                                <label for="comments"></label>
                                <textarea class="form-control" name="comments" id="comments" placeholder="Enter Challenges"></textarea>
                            </div>
                        </div>
    
                        <!-- Modal Footer -->
                        <div class="modal-footer">
                            <button type="button" class="btn btn-outline-secondary btn-sm" data-dismiss="modal">
                                <i class="fas fa-times"></i> Close
                            </button>
                            <button type="button" class="btn btn-outline-warning btn-sm" id="resetBtn">
                                <i class="fas fa-undo"></i> Reset
                            </button>
                            <button type="submit" class="btn btn-outline-primary btn-sm" id="submitBtn">
                                <i class="fas fa-paper-plane"></i> Submit
                            </button>
                        </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Custom Styles for Attractive Interface -->

<script>

    document.getElementById('registration').addEventListener('change', function() {
        const registrationStatus = this.value;
        if (registrationStatus === 'Not-Registered') {
            // Fill with 'Not applicable' and make fields disabled
            document.getElementById('compliance').value = 'Not applicable';
            document.getElementById('tax').value = 'Not applicable';
    
            // Disable fields to make them non-editable
            document.getElementById('compliance').disabled = true;
            document.getElementById('tax').disabled = true;
        } else {
            // Clear fields and enable them for editing
            document.getElementById('compliance').value = '';
            document.getElementById('tax').value = '';
    
            document.getElementById('compliance').disabled = false;
            document.getElementById('tax').disabled = false;
        }
    });
    

</script>