<!-- Modal -->
<div class="modal fade" data-backdrop="static" id="addSmeModal" tabindex="-1" role="dialog" aria-labelledby="addSmeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="addSmeModalLabel">CREATE SME</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="addSMEForm" autocomplete="off" style="font-size:15px">
                    
                    <div class="row">
                        <div class="col">
                            <div class="divider"></div>
                        </div>
                    </div>

                    <div class="row g-2">
                        <div class="mb-3 col-md-6">
                            <div class="form-group">
                                <label for="company">Company</label>
                                <input type="text" class="form-control" id="company" name="company" placeholder="Enter Company Name" required>
                            </div>
                        </div>
                        <div class="mb-3 col-md-6">
                            <div class="form-group">
                                <label for="type_of_business">Form of Business</label>
                                <select class="form-control select2" id="type_of_business" name="type_of_business">
                                    <option selected="selected" disabled="disabled">Select Form of Business</option>
                                    <option value="Private Limited">Private Limited</option>
                                    <option value="Private Bussiness Cooperation">Private Business Cooperation</option>
                                    <option value="Cooperative">Cooperative</option>
                                    <option value="Partnership">Partnership</option>
                                    <option value="Syndicate">Syndicate</option>
                                    <option value="Consortium">Consortium</option>
                                </select> 
                            </div>
                        </div>
                    </div>
                    
                    <div class="row g-2 sole-trader-related hidden">

                        <div class="mb-3 col-md-6">
                            <div class="form-group">
                                <label for="contact_person">Contact Person</label>
                                <input type="text" class="form-control" id="contact_person" name="contact_person" placeholder="Enter Contact Person Name" required>
                            </div>
                        </div>

                        <div class="mb-3 col-md-6">
                            <div class="form-group">
                                <label for="address">Physical Address</label>
                                <input type="text" class="form-control" id="address" name="address" placeholder="Enter Physical Address" required>   
                            </div>
                        </div>
                    </div>

                    <div class="row g-2 other-select-related hidden">
                        <div class="mb-3 col-md-6">
                            <div class="form-group">
                                <label for="phone_number">Phone Number</label>
                                <input type="phone" class="form-control" id="phone_number" name="phone_number" placeholder="Enter Phone  Number 07" required>
                            </div>
                        </div>
                        <div class="mb-3 col-md-6">
                            <div class="form-group">
                                <label for="email">Email</label>
                                <input type="email" class="form-control" id="email" name="email" placeholder="Enter Email Address" required>
                            </div>
                        </div>

                    </div>
                    
                    <div class="row g-2 common-fields hidden">
                        <div class="mb-3 col-md-4">
                            <div class="form-group">
                                <label for="age">Age</label>
                                <select class="form-control select2" id="age" name="age">
                                    <option selected="selected" disabled="disabled">Select Age Group</option>
                                    <option value="18-24">18 to 24</option>
                                    <option value="25-34">25 to 34</option>
                                    <option value="35-44">35 to 44</option>
                                    <option value="45-54">45 to 54</option>
                                    <option value="55-64">55 to 64</option>
                                    <option value="65+">65 or over</option>
                                </select>
                            </div>
                        </div>

                        <div class="mb-3 col-md-4">
                            <div class="form-group">
                                <label for="sex">Sex</label>
                                <select class="form-control select2" id="sex" name="sex">
                                    <option selected="selected" disabled="disabled">Select Sex</option>
                                    <option value="Male">Male</option>
                                    <option value="Female">Female</option>
                                </select> 
                            </div>
                        </div>

                        <div class="mb-3 col-md-4">
                            <div class="form-group">
                                <label for="disability">Disability</label>
                                <select class="form-control select2" id="disability" name="disability">
                                    <option selected="selected" disabled="disabled">Select</option>
                                    <option value="Disabled">Disabled</option>
                                    <option value="Not Disabled">Not Disabled</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row g-2">
                        <div class="mb-3 col-md-6">
                            <div class="form-group">
                                <label for="education">Education Level</label>
                                <select class="form-control select2" id="education" name="education">
                                    <option selected="selected" disabled="disabled">Select Education Level</option>
                                    <option value="Primary">Primary</option>
                                    <option value="O Level">O Level</option>
                                    <option value="A Level">A Level</option>
                                    <option value="Tertiary">Tertiary</option>
                                    <option value="None">None</option>
                                </select>
                            </div>
                        </div>

                        <div class="mb-3 col-md-6">
                            <div class="form-group">
                                <label for="training">Training</label>
                                <select class="form-control select2" id="training" name="training">
                                    <option selected="selected" disabled="disabled">Select Training</option>
                                    <option value="Trained">Trained</option>
                                    <option value="Not Trained">Not Trained</option>
                                </select>
                            </div>
                        </div>
                    </div>


                    <div class="row g-2">
                        <div class="mb-3 col-md-4">
                            <div class="form-group">
                                <label for="registration">Registration</label>
                                <select class="form-control select2" id="registration" name="registration">
                                    <option selected="selected" disabled="disabled">Select</option>
                                    <option value="Registered">Registered</option>
                                    <option value="Not Registered">Not Registered</option>
                                </select>
                            </div>
                        </div>

                        <div class="mb-3 col-md-4">
                            <div class="form-group">
                                <label for="compliance">Compliance</label>
                                <input type="text" class="form-control" id="compliance" name="compliance" placeholder="Enter Compliance e.g ZIMRA,NSSA,EMA ...." required>                                
                            </div>
                        </div>

                        <div class="mb-3 col-md-4">
                            <div class="form-group">
                                <label for="tax">Tax</label>
                                <select class="form-control select2" id="tax" name="status">
                                    <option selected="selected" disabled="disabled">Select Tax Type</option>
                                    <option value="Income Tax">Income Tax</option>
                                    <option value="Presumptive Tax">Presumptive Tax</option>
                                    <option value="Value Added Tax (VAT)">Value Added Tax (VAT)</option>
                                    <option value="Withholding Tax">Withholding Tax</option>
                                    <option value="Pay As You Earn (PAYE)">Pay As You Earn (PAYE)</option>
                                    <option value="Capital Gains Tax">Capital Gains Tax</option>
                                    <option value="Carbon Tax">Carbon Tax</option>
                                    <option value="Excise Duty">Excise Duty</option>
                                    <option value="Inactive">Inactive</option>
                                </select>                                
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <div class="divider"></div>
                        </div>
                    </div>

                    <div class="row g-2 common-fields hidden">
                        <div class="mb-3 col-md-6">
                            <div class="form-group">
                                <label for="sector">Sector</label>
                                <select class="form-control select2" id="sector" name="sector">
                                    <option selected="selected" disabled="disabled">Select Sector</option>
                                    <option value="Agriculture,forestry and fishing">Agriculture,forestry and fishing</option>
                                    <option value="Mining and Quarrying">Mining and Quarrying</option>
                                    <option value="Manufacturing">Manufacturing</option>
                                    <option value="Water supply, sewerage, waste management and remediation activities">Water supply, sewerage, waste management and remediation activities</option>
                                    <option value="Construction">Construction</option>
                                    <option value="Wholesale and retail trade, repair of motor vehicles and motor cycles">Wholesale and retail trade, repair of motor vehicles and motor cycles</option>
                                    <option value="Transportation and storage">Transportation and storage</option>
                                    <option value="Accomodation and food service activities">Accomodation and food service activities</option>
                                    <option value="Information Technology">Information Technology</option>
                                    <option value="Financial and insurance activities">Financial and insurance activities</option>
                                    <option value="Real estate activities">Real estate activities</option>
                                    <option value="Professional, scientific and technical activities">Professional, scientific and technical activities</option>
                                    <option value="Administrative and support service activities">Adminstrative and support service activities</option>
                                    <option value="Education">Education</option>
                                    <option value="Art, entertainment and recreation">Art, entertainment and recreation</option>
                                    <option value="Other service activities">Other service activities</option>

                                </select>
                            </div>
                        </div>
                        <div class="mb-3 col-md-4">
                            <div class="form-group">
                                <label for="product_service">Product or Service</label>
                                <input type="text" class="form-control" id="product_service" name="product_service" placeholder="Enter Product or Service" required>   
                            </div>
                        </div>
                        <div class="mb-3 col-md-2">
                            <div class="form-group">
                                <label for="">Exports</label>
                                <select class="form-control select2" id="export" name="export">
                                    <option selected="selected" disabled="disabled">Select</option>
                                    <option value="Exporter">Exporter</option>
                                    <option value="Non Exporter">Non Exporter</option>
                                </select> 
                            </div>
                        </div>
                    </div>
                    
                    <div class="row g-2 common-fields hidden">
                        <div class="mb-3 col-md-4">
                            <div class="form-group">
                                <label for="number_of_employees">Number of Employees</label>
                                <input type="number" class="form-control" id="number_of_employees" name="number_of_employees" placeholder="Enter Number of Employees" required>   
                            </div>
                        </div>
                        <div class="mb-3 col-md-4">
                            <div class="form-group">
                                <label for="annual_revenue">Annual Turnover</label>
                                <input type="number" class="form-control" id="annual_revenue" name="annual_revenue" placeholder="Enter  Annual Turnover" required>
                            </div>
                        </div>

                        <div class="mb-3 col-md-4">
                            <div class="form-group">
                                <label for="asset_value">Assets Value</label>
                                <input type="number" class="form-control" id="asset_value" name="asset_value" placeholder="Enter Assets Value" required>   
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="mb-3 col-md-12">
                            <div class="form-group">
                                <label for="asset_value">Challenges</label>
                                <textarea class="form-control" name="comments" id="comments" placeholder="Enter Challenges"></textarea>   
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-secondary btn-sm" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-outline-primary btn-sm" id="submitBtn">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>




    
