{% extends 'layouts/base.html' %}
{% load static %}
{% block title %}| Smes {% endblock title %}
{% block extrastyle %}
<!-- DataTables -->
<link rel="stylesheet" href="{% static 'plugins/datatables-bs4/css/dataTables.bootstrap4.min.css' %}">
<link rel="stylesheet" href="{% static 'plugins/datatables-responsive/css/responsive.bootstrap4.min.css' %}">
<link rel="stylesheet" href="{% static 'plugins/datatables-buttons/css/buttons.bootstrap4.min.css' %}">

{% endblock extrastyle %}
{% block bodyclass %} hold-transition sidebar-mini {% endblock bodyclass %}
{% block content %}
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">SMEs</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div id="successMessage" class="alert alert-success alert-dismissible fade show" role="alert" style="display: none;">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
          </button>
        </div>
        
        <div id="errorMessage" class="alert alert-danger alert-dismissible fade show" role="alert" style="display: none;">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="card shadow-lg"></div>
              <div class="card-header bg-gradient-info text-white">
                <div class="d-flex justify-content-between align-items-center">
                  <h3 class="card-title mb-0">SMEs Database</h3>
                  {% if perms.smeapp.add_sme %}
                  <a class="btn btn-light btn-sm rounded-pill shadow-sm" href="#" data-toggle="modal" data-target="#addSmeModal">
                    <i class="fas fa-plus-circle"></i> Add New SME
                  </a>
                  {% endif %}
                </div>
              </div>
              <div class="card-body">
                <table id="dataTable" class="table table-hover table-bordered dt-responsive nowrap" style="width:100%">
                  <thead>
                  <tr class="bg-light"></tr>
                    <th class="text-center">#</th>
                    <th>Reference Number</th>
                    <th>Company</th>
                    <th>Contact Person</th>
                    <th>Phone Number</th>
                    <th>Sector</th>
                    <!-- Hidden columns -->
                    <th class="d-none">Type of Business</th>
                    <th class="d-none">Registration</th>
                    <th class="d-none">Product/Service</th>
                    <th class="d-none">Number of Employees</th>
                    <th class="d-none">Export</th>
                    <th class="d-none">Ownership</th>
                    <th class="d-none">Address</th>
                    <th class="d-none">Email</th>
                    <th class="d-none">Education</th>
                    <th class="d-none">Support Service</th>
                    <th class="d-none">Training Received</th>
                    <th class="d-none">Funding Received</th>
                    <th class="d-none">Compliance</th>
                    <th class="d-none">Tax</th>
                    <th class="d-none">Source of Funds</th>
                    <th class="d-none">Annual Revenue</th>
                    <th class="d-none">Asset Value</th>
                    <th class="d-none">Comments</th>
                    <th class="d-none">Province</th>
                    <th class="d-none">District</th>
                    <th class="d-none">Ward</th>
                    <th class="d-none">Size of Business</th>
                    <th class="text-center">Actions</th>
                  </tr>
                  </thead>
                  <tbody>
                  {% for sme in smes %}
                  <tr>
                    <td class="text-center">{{ forloop.counter }}</td>
                    <td><span class="badge badge-info">{{ sme.sme_ref_number }}</span></td>
                    <td>{{ sme.company }}</td>
                    <td>{{ sme.contact_person }}</td>
                    <td>{{ sme.phone_number }}</td>
                    <td>{{ sme.sector.name }}</td>
                    <!-- Hidden columns data -->
                    <td class="d-none">{{ sme.type_of_business }}</td>
                    <td class="d-none">{{ sme.registration }}</td>
                    <td class="d-none">{{ sme.product_service }}</td>
                    <td class="d-none">{{ sme.number_of_employees }}</td>
                    <td class="d-none">{{ sme.export }}</td>
                    <td class="d-none">{{ sme.ownership }}</td>
                    <td class="d-none">{{ sme.address }}</td>
                    <td class="d-none">{{ sme.email }}</td>
                    <td class="d-none">{{ sme.education }}</td>
                    <td class="d-none">{{ sme.support_service }}</td>
                    <td class="d-none">{{ sme.training_received }}</td>
                    <td class="d-none">{{ sme.funding_received }}</td>
                    <td class="d-none">{{ sme.compliance }}</td>
                    <td class="d-none">{{ sme.tax }}</td>
                    <td class="d-none">{{ sme.source_of_funds }}</td>
                    <td class="d-none">{{ sme.annual_revenue }}</td>
                    <td class="d-none">{{ sme.asset_value }}</td>
                    <td class="d-none">{{ sme.comments }}</td>
                    <td class="d-none">{{ sme.province.province_name }}</td>
                    <td class="d-none">{{ sme.district.district_name }}</td>
                    <td class="d-none">{{ sme.ward.ward_name }}</td>
                    {% for scale in sme.calculation_scale %}
                    <td class="d-none">{{ scale.size_of_business.size }}</td>
                    {% endfor %}

                    {% if perms.smeapp.sme_actions %}
                      <td class="text-center">
                        {% if perms.smeapp.view_sme %}
                          <button class="btn btn-outline-primary btn-sm view-details mx-1" data-toggle="modal" data-target="#viewSmeModal" data-sme-id="{{ sme.id }}">
                            <i class="fas fa-eye"></i>
                          </button>
                        {% endif %}
                        {% if perms.smeapp.change_sme %}
                          <button class="btn btn-outline-success btn-sm edit-vehicle-link mx-1" data-toggle="modal" data-target="#editSmeModal" data-sme-id="{{ sme.id }}">
                            <i class="fas fa-pencil-alt"></i>
                          </button>
                        {% endif %}
                      </td>
                    {% endif %}
                  </tr>
                  {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  {% include 'pages/smes/add.html' %}
  {% include 'pages/smes/view.html' %}
  {% include 'pages/smes/edit.html' %}

{% endblock content %}


{% block extra_scripts %}
<!-- DataTables  & Plugins -->
<script src="{% static 'plugins/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'plugins/datatables-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'plugins/datatables-responsive/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'plugins/datatables-responsive/js/responsive.bootstrap4.min.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/buttons.bootstrap4.min.js' %}"></script>
<script src="{% static 'plugins/jszip/jszip.min.js' %}"></script>
<script src="{% static 'plugins/pdfmake/pdfmake.min.js' %}"></script>
<script src="{% static 'plugins/pdfmake/vfs_fonts.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/buttons.html5.min.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/buttons.print.min.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/buttons.colVis.min.js' %}"></script>
<!-- Page specific script -->

{% include 'pages/smes/scripts.html' %}
  
{% endblock extra_scripts %}