<script>
    $(document).ready(function() {
        // Get the CSRF token from cookie
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = cookies[i].trim();
                    // Check if cookie name matches the specified name
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        // Extract and return the cookie value
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        // Cascading dropdowns for Province and district
        // Populate Provinces dropdown
        // Fetch provinces and populate dropdown
        $.ajax({
            url: '/api/v1/provinces/',
            dataType: 'json',
            success: function(data) {
                $.each(data.provinces, function(index, province) {
                    $('#province-dropdown').append('<option value="' + province.id + '">' + province.province_name + '</option>');
                });
            }
        });

        // Handle change event for provinces dropdown
        $('#province-dropdown').change(function() {
            var provinceId = $(this).val();
            $('#district-dropdown').empty();
            $('#ward-dropdown').empty();
            $('#ward-dropdown').append('<option value="" selected disabled>Select Ward</option>');
            if (provinceId) {
                // Fetch districts and populate dropdown
                $.ajax({
                    url: '/api/v1/districts/?province_id=' + provinceId,
                    dataType: 'json',
                    success: function(data) {
                        $('#district-dropdown').append('<option value="" selected disabled>Select District</option>');
                        $.each(data.districts, function(index, district) {
                            $('#district-dropdown').append('<option value="' + district.id + '">' + district.district_name + '</option>');
                        });
                    }
                });
            }
        });

        // Handle change event for districts dropdown
        $('#district-dropdown').change(function() {
            var districtId = $(this).val();
            $('#ward-dropdown').empty();
            if (districtId) {
                // Fetch wards and populate dropdown
                $.ajax({
                    url: '/api/v1/wards/?district_id=' + districtId,
                    dataType: 'json',
                    success: function(data) {
                        $('#ward-dropdown').append('<option value="" selected disabled>Select Ward</option>');
                        $.each(data.wards, function(index, ward) {
                            $('#ward-dropdown').append('<option value="' + ward.id + '">' + ward.ward_name + '</option>');
                        });
                    }
                });
            }
        });


        $('#addSMEForm').submit(function(event) {
            // Prevent default form submission
            event.preventDefault();

            // Validation patterns
            var wordPattern = /^[A-Za-z\s]+$/;
            var phonePattern = /^07\d{8}$/;

            // Get the form values
            var company = $("#company").val().trim().toUpperCase();
            var contact_person = $("#contact_person").val().trim().toUpperCase();
            var phone_number = $("#phone_number").val().trim();
            var email = $("#email").val().trim();
            var address = $("#address").val().trim().toUpperCase();
            var sector = $("#sector").val();
            var type_of_business = $("#type_of_business").val();
            var product_service = $("#product_service").val().trim().toUpperCase();
            var number_of_employees = $("#number_of_employees").val();
            var asset_value = $("#asset_value").val();
            var annual_revenue = $("#annual_revenue").val();
            var age = $("#age").val();
            var sex = $("#sex").val();
            var exportField = $("#export").val();
            var comments = $("#comments").val();

            // Validate company
            if (!wordPattern.test(company)) {
                showToast("error","Error","Please enter a valid company name containing only letters and spaces.");
                return;
            }

            if (!wordPattern.test(contact_person)) {
                showToast("error","Error","Please enter a valid company name containing only letters and spaces.");
                return;
            }

            // Validate product service
            if (!wordPattern.test(product_service)) {
                showToast("error","Error","Please enter a valid product/service name containing only letters and spaces.");
                return;
            }

            // Validate phone number
            if (!phonePattern.test(phone_number)) {
                showToast("error","Error","Please enter a valid phone number starting with 07 and containing exactly 10 digits.");
                return;
            }

            // Create the formData object after validation
            var formData = {
                company: company,
                contact_person: contact_person,
                phone_number: phone_number,
                email: email,
                address: address,
                sector: sector,
                type_of_business: type_of_business,
                product_service: product_service,
                number_of_employees: number_of_employees,
                asset_value: asset_value,
                annual_revenue: annual_revenue,
                age: age,
                sex: sex,
                export: exportField,
                comments: comments
            };
    
            // Send AJAX request to submit form data
            $.ajax({
                url: '/api/v1/sme-create/', // URL to submit SME data
                method: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(formData),
                headers: {
                    "X-CSRFToken": getCookie("csrftoken") // Get CSRF token from cookie
                },
                success: function(response) {
                    showToast('success', 'Success', 'SME Record added successfully');
                    $("#addSmeModal").modal("hide");
                    setTimeout(function() {
                        window.location.reload();
                    }, 3000); // Delay for 3 seconds (adjust as needed)
                },
                
                error: function(xhr, status, error) {
                    console.error('Error submitting SME data:', error);
                
                    // Initialize a variable to hold your error messages
                    let errorMessage = 'Failed to submit SME data. Please try again.';
                
                    // Check if the xhr response has a JSON body
                    if (xhr.responseJSON) {
                        const responseErrors = xhr.responseJSON;
                
                        // Initialize an array to collect error messages
                        let errorMessages = [];
                
                        // Iterate over the object and collect error messages
                        Object.keys(responseErrors).forEach(function(key) {
                            const value = responseErrors[key];
                            // Assuming each key's value is an array of error messages
                            // Adjust if your error structure is different
                            if (Array.isArray(value)) {
                                value.forEach(function(message) {
                                    errorMessages.push(`${key}: ${message}`);
                                });
                            } else {
                                // If the value is not an array, directly add it to the messages
                                errorMessages.push(`${key}: ${value}`);
                            }
                        });
                
                        // Join all error messages into a single string, separated by semicolons
                        if (errorMessages.length > 0) {
                            errorMessage = errorMessages.join('; ');
                        }
                    }
                
                    // Display the error message
                    // Ensure your showToast function or equivalent can handle a plain text string
                    showToast('error', 'Error', errorMessage);
                }
            });
        });
    
        // Function to get the value of a cookie by name
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = cookies[i].trim();
                    // Check if cookie name matches the specified name
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        // Extract and return the cookie value
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

    });


    // Function to show toast notifications
    function showToast(type, title, message) {
        $('.toast').toast('hide'); // Hide any existing toast alerts

        // Construct the toast HTML with appropriate class based on type
        var toastHTML = `
            <div class="toast ${type}" role="alert" aria-live="assertive" aria-atomic="true" data-autohide="true" data-delay="${type === 'success' ? '5000' : '3000'}">
                <div class="toast-header">
                    <strong class="mr-auto">${title}</strong>
                    <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="toast-body">
                    ${message}
                </div>
            </div>`;
        
        // Append the toast HTML to the container
        $('#toastContainer').append(toastHTML);
        
        // Show the toast
        $('.toast').toast('show');
    }


</script>

<script>
    $(document).ready(function() {
        $('#viewSmeModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget); // Button that triggered the modal
            var smeId = button.data('sme-id'); // Extract info from data-* attributes
            var modal = $(this);
            var url = `/api/v1/sme-detail/${smeId}/`;

            fetch(url)
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok ' + response.statusText);
                    }
                    return response.json();
                })
                .then(data => {
                    modal.find('.modal-title').text(data.company);
                    modal.find('.modal-body #company').text(data.company);
                    modal.find('.modal-body #contact-person').text(data.contact_person);
                    modal.find('.modal-body #phone-number').text(data.phone_number);
                    modal.find('.modal-body #email').text(data.email);
                    modal.find('.modal-body #address').text(data.address);
                    modal.find('.modal-body #age').text(data.age);
                    modal.find('.modal-body #sex').text(data.sex);

                    modal.find('.modal-body #sector').text(data.sector);
                    modal.find('.modal-body #type-of-business').text(data.type_of_business);
                    modal.find('.modal-body #product-service').text(data.product_service);
                    modal.find('.modal-body #number-of-employees').text(data.number_of_employees);
                    modal.find('.modal-body #asset-value').text(data.asset_value);
                    modal.find('.modal-body #annual-revenue').text(data.annual_revenue);
                    modal.find('.modal-body #export').text(data.export);
                    modal.find('.modal-body #comments').text(data.comments);

                    modal.find('.modal-body #size').text(data.calculation_scale[0].size_of_business.size);

                    modal.find('.modal-body #province').text(data.province.province_name);
                    modal.find('.modal-body #district').text(data.district.district_name);
                    modal.find('.modal-body #ward').text(data.ward.ward_name);
                })
                .catch(error => {
                    modal.find('.modal-body').html(`<p>Error: ${error.message}</p>`);
                });
        });
    });
</script>

<script>
    //Updating details 
    $('#editSmeModal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget); // Button that triggered the modal
        var smeId = button.data('sme-id'); // Extract info from data-* attributes
        var modal = $(this);
        // Store smeId in the form as a data attribute
        $('#editSMEForm').data('sme-id', smeId);

        // Use AJAX or Fetch API to populate form fields with existing SME data
        fetch(`/api/v1/sme-update/${smeId}/`)
            .then(response => response.json())
            .then(data => {    
                // Populate form fields with retrieved data
                modal.find('#company').val(data.company);
                modal.find('#contact_person').val(data.contact_person);
                modal.find('#phone_number').val(data.phone_number);
                modal.find('#email').val(data.email);
                modal.find('#address').val(data.address);
                modal.find('#sector').val(data.sector);
                modal.find('#sex').val(data.sex);
                modal.find('#age').val(data.age);
                modal.find('#type_of_business').val(data.type_of_business);
                modal.find('#product_service').val(data.product_service);
                modal.find('#export').val(data.export);
                modal.find('#comments').val(data.comments);
    
                // Populate province dropdown
                
                modal.find('#number_of_employees').val(data.number_of_employees);
                modal.find('#asset_value').val(data.asset_value);
                modal.find('#annual_revenue').val(data.annual_revenue);
            })
            .catch(error => console.error('Error fetching SME data:', error));
    });

    // Function to get the CSRF token from the cookie
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    // Set up jQuery to include the CSRF token in the headers of all AJAX requests
    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
            }
        }
    });

    // Event listener for form submission
    $('#editSMEForm').on('submit', function(event) {
        event.preventDefault(); // Prevent the form from submitting via the browser
    
        var smeId = $(this).data('sme-id'); // Get the SME ID from the form data attribute
        var form = $(this);
    
        // Append smeId to the form data
        // Validation patterns
        var wordPattern = /^[A-Za-z\s]+$/;
        var phonePattern = /^07\d{8}$/;

        // Get the form values
        var company = form.find('#company').val().trim().toUpperCase();
        var contact_person = form.find('#contact_person').val().trim().toUpperCase();
        var phone_number = form.find('#phone_number').val().trim();
        var email = form.find('#email').val().trim();
        var address = form.find('#address').val().trim().toUpperCase();
        var sector = form.find('#sector').val();
        var type_of_business = form.find('#type_of_business').val();
        var product_service = form.find('#product_service').val().trim().toUpperCase();
        var number_of_employees = form.find('#number_of_employees').val();
        var asset_value = form.find('#asset_value').val();
        var annual_revenue = form.find('#annual_revenue').val();
        var age = form.find('#age').val();
        var sex = form.find('#sex').val();
        var exportField = form.find('#export').val();
        var comments = form.find('#comments').val();

        // Validate company
        if (!wordPattern.test(company)) {
            showToast("error", "Error", "Please enter a valid company name containing only letters and spaces.");
            return;
        }

        // Validate contact person
        if (!wordPattern.test(contact_person)) {
            showToast("error", "Error", "Please enter a valid contact person name containing only letters and spaces.");
            return;
        }

        // Validate product service
        if (!wordPattern.test(product_service)) {
            showToast("error", "Error", "Please enter a valid product/service name containing only letters and spaces.");
            return;
        }

        // Validate phone number
        if (!phonePattern.test(phone_number)) {
            showToast("error", "Error", "Please enter a valid phone number starting with 07 and containing exactly 10 digits.");
            return;
        }

        // Create the formData object after validation
        var formData = {
            smeId: smeId,
            company: company,
            contact_person: contact_person,
            age: age,
            sex: sex,
            phone_number: phone_number,
            email: email,
            address: address,
            sector: sector,
            type_of_business: type_of_business,
            product_service: product_service,
            number_of_employees: number_of_employees,
            asset_value: asset_value,
            annual_revenue: annual_revenue,
            export: exportField,
            comments: comments
        };


    
        $.ajax({
            url: '/api/v1/sme/update/',
            type: 'PUT',
            contentType: 'application/json',
            data: JSON.stringify(formData),
            success: function(response) {
                console.log('SME updated successfully:', response);
                showToast('success', 'Success', 'SME Record Updates successfully');
                $("#editSmeModal").modal("hide");
                $('#editSMEForm')[0].reset();
                setTimeout(function() {
                    window.location.reload();
                }, 3000); // Delay for 3 seconds (adjust as needed)
            },
            error: function(xhr, status, error) {
                console.error('Error submitting SME data:', error);
            
                // Initialize a variable to hold your error messages
                let errorMessage = 'Failed to Uodate SME data. Please try again.';
            
                // Check if the xhr response has a JSON body
                if (xhr.responseJSON) {
                    const responseErrors = xhr.responseJSON;
            
                    // Initialize an array to collect error messages
                    let errorMessages = [];
            
                    // Iterate over the object and collect error messages
                    Object.keys(responseErrors).forEach(function(key) {
                        const value = responseErrors[key];
                        // Assuming each key's value is an array of error messages
                        // Adjust if your error structure is different
                        if (Array.isArray(value)) {
                            value.forEach(function(message) {
                                errorMessages.push(`${key}: ${message}`);
                            });
                        } else {
                            // If the value is not an array, directly add it to the messages
                            errorMessages.push(`${key}: ${value}`);
                        }
                    });
            
                    // Join all error messages into a single string, separated by semicolons
                    if (errorMessages.length > 0) {
                        errorMessage = errorMessages.join('; ');
                    }
                }
            
                // Display the error message
                // Ensure your showToast function or equivalent can handle a plain text string
                showToast('error', 'Error', errorMessage);
            }
        });
    });  
    
</script>
