{% load static %}

<ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
    <!-- Add icons to the links using the .nav-icon class
           with font-awesome or any other icon font library -->

      <li class="nav-item">
        <a href="{% url 'index' %}" class="nav-link" >
          <i class="nav-icon fas fa-tachometer-alt"></i>
          <p>
            Dashboard
          </p>
        </a>
      </li>
      
    <li class="nav-item">
      <a href="{% url 'sme-list' %}" class="nav-link" >
        <i class="nav-icon fas fa-folder-open"></i>
        <p>
          SMEs
        </p>
      </a>
    </li>


    <li class="nav-item">
      <a href="{% url 'logout' %}" class="nav-link">
        <i class="fa fa-sign-out-alt nav-icon"></i>
        <p>Logout</p>
      </a>
    </li>
            
  </ul>